.col-form-label {
  padding-right: 0;
}

.alert {
  display: none;
}

.param-field {
  display: none;
}

#prompt-field {
  white-space: pre-wrap;
  padding: 10px;
  min-height: 200px;
}

#prompt-field:focus {
  outline: 0px solid transparent;
}

#submit-button {
  width: 10rem;
}

#template-input-group {
  width: 18rem;
}

@media screen and (max-width: 576px) {
  #submit-button {
    width: 100%;
  }

  #settings-button {
    width: auto;
    flex-grow: 1;
  }
}

#fields-flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
