.col-form-label {
  padding-right: 0;
}

.alert {
  display: none;
}

.paramField {
  display: none;
}

#promptField {
  white-space: pre-wrap;
  padding: 10px;
  min-height: 200px;
}

#promptField:focus {
  outline: 0px solid transparent;
}

#submitButton {
  width: 10rem;
}

#settingsButton {
  width: 10rem;
}

@media screen and (max-width: 768px) {
  #submitButton {
    width: 100%;
  }

  #settingsButton {
    width: 100%;
  }
}

#fieldsFlexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
