.spacer {
  height: 16px;
}

#generate-button {
  width: 12rem;
}

#expand-configuration-button {
  width: 4rem;
}

.btn-outline-secondary:hover {
  background-color: white;
  color: var(--bs-secondary);
}
