#generate-button {
  width: 12rem;
}

#template-dropdown {
  min-width: 12rem;
}

#expand-settings-button {
  width: 4rem;
}

.btn-outline-secondary:hover {
  background-color: white;
  color: var(--bs-secondary);
}