textarea {
  resize: none;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 2px 2px var(--bs-gray-400) !important;
  border-color: var(--bs-gray-400) !important;
}

.spacer {
  height: 16px;
}

.icon-link {
  color: inherit;
  padding-left: 0.8em;
}

.btn-outline-secondary:hover {
  background-color: var(--bs-gray-200);
  color: var(--bs-secondary);
}

.btn-outline-primary:hover {
  background-color: var(--bs-gray-200);
  color: var(--bs-primary);
}

.info-box {
  padding: 0.5em 1em;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.03);
}

#template-dropdown {
  min-width: 0;
}

#template-dropdown > button {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 576px) {
  #template-dropdown {
    width: 100%;
  }
}
