textarea {
  resize: none;
}

textarea:focus,
input:focus {
  box-shadow: none !important;
  border-color: var(--bs-gray-400) !important;
}

.spacer {
  height: 16px;
}

.icon-link {
  color: inherit;
}

.btn-outline-secondary:hover {
  background-color: white;
  color: var(--bs-secondary);
}
